<script setup lang="ts">
import type { mdiSizeXxl } from "@mdi/js";
</script>
<template>
  <v-row class="r1">
    <v-col sm="4">
      <v-avatar size="400" class="avatar">
        <v-img
          src="https://scontent.fbkk5-6.fna.fbcdn.net/v/t39.30808-6/315751077_3420308898243683_6409145832995912976_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=7NiG6BPmTKkAX9afkbj&_nc_ht=scontent.fbkk5-6.fna&oh=00_AfCkBlvS382L00KSEUvaFZZLxEZgN0fixZ-x-tuDl3zYlQ&oe=63A32EFF"
          cover
        ></v-img>
      </v-avatar>
    </v-col>
    <v-col sm="8">
      <v-card height="100%" width="100%" elevation="5" class="padding">
        <v-card-item>
          <h1 class="font">✨ My Profile ✨</h1>
          <v-table class="table" :show-rows-border="false">
            <tbody>
              <tr class="tr">
                <td class="font2">Name</td>
                <td class="font2">Natthakritta Nawachat</td>
              </tr>
              <tr class="tr">
                <td class="font2">Faculty</td>
                <td class="font2">Computer Science (BUU)</td>
              </tr>
              <tr class="tr">
                <td class="font2">History record</td>
                <td class="font2">Si Thepaban School</td>
              </tr>
              <tr class="tr">
                <td class="font2"></td>
                <td class="font2">
                  Kanchanapisek Wittayalai Chaiyaphum School
                </td>
              </tr>
              <tr class="tr">
                <td class="font2"></td>
                <td class="font2">Burapha University</td>
              </tr>
              <tr class="tr">
                <td class="font2">Birthday</td>
                <td class="font2">July 25</td>
              </tr>
              <tr class="tr">
                <td class="font2">Contact</td>
                <td class="font2">63160195@go.buu.ac.th</td>
              </tr>
              <tr class="tr">
                <td class="font2">Interest</td>
                <td class="font2">You 🤪</td>
              </tr>
            </tbody>
          </v-table>
        </v-card-item>
      </v-card>
    </v-col>
  </v-row>
</template>
<style scoped>
.font {
  margin-top: 20px;
  font-size: 40px;
  font-family: Bobby;
}

.font2 {
  font-size: 25px !important;
  font-family: Bobby;
}

.r1 {
  height: 100%;
  margin-top: 0.1px;
}

.avatar {
  margin-top: 130px;
  margin-left: 40px;
}

.padding {
  padding: 2%;
}

.table {
  width: 90%;
  margin-top: 30px;
}

.tr {
  height: 60px !important;
}
</style>
