<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { computed, ref } from "vue";
const frameList = ref([
  {
    name: "Vue JS",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/768px-Vue.js_Logo_2.svg.png?20170919082558",
    rating: 10,
  },
  {
    name: "Angular JS",
    img: "https://material.angularjs.org/latest/img/logo.svg",
    rating: 20,
  },
  {
    name: "Vue JS",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png",
    rating: 14,
  },
]);
function changeRating(index: number, rating: number) {
  console.log("action" + index + " : " + rating);
  frameList.value[index].rating = rating;
}

const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n1.rating - n2.rating);
});
</script>

<template>
  <h1>Starred</h1>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of orderList" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="changeRating"
        >
        </FrameworkPop>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>Order</th>
              <th>Name</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of frameList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>
